<%= render 'shared/errors', object: @approval %>
<h3><%= t('.approving_candidate', candidate: @inscription.user.profile.full_name) %></h3>

<%= form_for [@inscription, @approval] do |f| %>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :wage %>
    <%= f.number_field :wage, step: 1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :aid %>
    <%= f.text_area :aid, class: 'form-control' %>
  </div>

  <%= f.submit t('.send'), class: 'btn btn-green float-right' %>
<% end %>