<div id="profile" class="card bg-dark col-md-10">
  <%= image_tag profile.picture, class: 'card-img-top' if profile.picture.present? %>
  <dl class="card-body">
    <h3 class="card-title text-green"><%= profile.full_name %></h3>

    <div class="card-text">
      <% if profile.social_name.present? %>
        <dt><%= Profile.human_attribute_name("social_name") %></dt>
        <dd><%= profile.social_name %></dd>
      <% end %>
      
      <dt><%= Profile.human_attribute_name("birthdate") %></dt>
      <dd><%= l(profile.birthdate) %></dd>
      
      <dt><%= Profile.human_attribute_name("qualifications") %></dt>
      <dd><%= profile.qualifications %></dd>
      
      <dt><%= Profile.human_attribute_name("description") %></dt>
      <dd><%= profile.description %></dd>
      
      <% if profile.experience.present? %>
        <dt><%= Profile.human_attribute_name("experience") %></dt>
        <dd><%= profile.experience %></dd>
      <% end %> 
    </div>
  <%= button_to t('.edit'), edit_profile_path(profile), class: 'btn btn-blue float-right',
                            method: :get if current_user%>
  </dl>
</div>