<h3><%= t('.your_profile') %></h3>
<%= image_tag @profile.picture if @profile.picture.present? %>
<dl>
  <dt><%= Profile.human_attribute_name("full_name") %></dt>
  <dd><%= @profile.full_name %></dd>
  
  <% if @profile.social_name.present? %>
    <dt><%= Profile.human_attribute_name("social_name") %></dt>
    <dd><%= @profile.social_name %></dd>
  <% end %>
  
  <dt><%= Profile.human_attribute_name("birthdate") %></dt>
  <dd><%= l(@profile.birthdate) %></dd>
  
  <dt><%= Profile.human_attribute_name("qualifications") %></dt>
  <dd><%= @profile.qualifications %></dd>
  
  <dt><%= Profile.human_attribute_name("description") %></dt>
  <dd><%= @profile.description %></dd>
  
  <% if @profile.experience.present? %>
    <dt><%= Profile.human_attribute_name("experience") %></dt>
    <dd><%= @profile.experience %></dd>
  <% end %>
</dl>