<%= render 'shared/errors', object: @comment %>
<%= render @profile %>
<hr class="green">
<br/>
<h4>
  <%= t('.comment_count', count: @comments.count) if @comments.present? %>
</h4>
<%= render(partial: 'profiles/comment', collection: @comments) %>
<hr>
<%= render 'comments/form', comment: @comment if current_hunter %>
