<div class="card col-lg-10 mx-auto bg-dark border-green my-3">
  <div class="card-header font-sm text-muted row">
    <%= content_tag(:span, t("activerecord.attributes.job.positions.#{job.position}"), class: 'mr-auto') %>

    <% if job.inscription(current_user) %>
      <div class="justify-self-end align-middle">
        <%= content_tag(:span, class: "badge font-lg badge-#{badge(job.inscription(current_user).status)}") do %>
          <%= link_to status_path(job.inscription(current_user)), class: 'label-btn' do %>
            <%= enum_translate(:inscription, :statuses, job.inscription(current_user).status) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <h3 class="card-title"><%= link_to t('.job_for', job_title: job.title), job_path(job) %></h3>
    <p class="card-text"><%= job.description %></p>
  </div>
  <%= content_tag :span, l(job.deadline), class: 'text-muted text-center' %>
</div>