<h1><%= t('.search_for', q: params[:q]) %></h1>
<% if @jobs.empty? %>
  <%= render 'find' %>
  <hr>
  <p><%= t('.no_job_found') %></p>
<% else %>
  <%= render 'find' %>
  <%= render @jobs %>
<% end %>