<%= render 'jobs/job_full', job: @job %>

<%= render @rejection if @rejection %>
<%= render @approval if @approval %>

<hr>
<%= link_to  t('.back'), jobs_path, class: 'btn btn-blue mr-auto' %>

<% if hunter_signed_in? %>
  <h3><%= t('.candidates') %></h3>
  <%= render(@inscriptions) || t('.no_candidate') %>
<% end %>

