<nav class="navbar navbar-expand-md navbar-black navbar-container text-green">
  <div class="container">
    <%= link_to 'DevHunter', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          
        </li>
        <li class="nav-item">
          <%= link_to t('.jobs'), jobs_path , class: 'nav-link' %>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if hunter_signed_in? %>
          <li><%= link_to  t('.hunter_area'), headhunters_path, class: 'btn btn-outline-success mr-2' %></li>
          <!-- <li><%= link_to  t('.my_account'), edit_hunter_registration_path, class: 'btn btn-outline-success mr-2' %></li> -->
          <li><%= link_to  t('.log_out'), destroy_hunter_session_path, method: :delete, class: 'btn btn-success text-white' %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to  t('.my_account'), profiles_path, class: 'btn btn-outline-success mr-2' %></li>
          <li><%= link_to  t('.log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-success text-white' %></li>
        <% else %>
          <li><%= button_to t('.sign_in'), new_user_session_path, class: 'btn btn-outline-success mr-2', method: :get %></li>
          <li><%= button_to t('.sign_up'), new_user_registration_path, class: 'btn btn-success text-white', method: :get %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



