<%= radio_button_tag :role, :headhunter %>
<%= label_tag 'role[headhunter]', t('.headhunter') %>
<%= radio_button_tag :role, :user, true %>
<%= label_tag 'role[user]', t('.user') %>

<div class="form" id="headhunter">
  <%= render 'sign_up_form', resource: @hunter, resource_name: :hunter %>
</div>
<div class="form" id="user">
  <%= render 'sign_up_form', resource: @user, resource_name: :user %>
</div>

<style>
input[value=headhunter]:checked ~ #headhunter {
    display: block;
}
input[value=user]:checked ~ #user {
    display: block;
}
.form {
    display: none;
}
</style>