<div class="card text-dark my-3">
  <div class="card-header"> 
    <div class="row">
      <div class="user-id mr-auto font-xlg">
        <p class="mb-0"> 
          <%= link_to inscription.user.profile.full_name, 
                      profile_path(inscription.user.profile) %> 
          <%= content_tag :small, inscription.user.email %>
        </p>
      </div>

      <div class="justify-self-end align-middle">
        <%= content_tag(:span, class: "badge font-md badge-#{badge(inscription.status)}") do %>
          <%= enum_translate(:inscription, :statuses, inscription.status) %>
        <% end %>
        <%= link_to star_inscription_path(inscription), method: :put, class: 'fav-star' do %>
          <%= fa_stacked_icon 'star-o 2x', base: highlighted_icon(inscription.starred) %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="col-md-2">
        <%= image_tag user_profile_picture(inscription.user), class: 'rounded-circle img-responsive' %>
      </div>
  
      <div class="col-md-10">
        <p class="text-left">
          <strong>Bio: </strong><br>
          <%= inscription.user.profile.description %>
        </p>
      </div>

    </div>
  </div>

  <div class="card-footer">
      <strong><%= Profile.human_attribute_name("qualifications") %>:</strong>
      <%= inscription.user.profile.qualifications %>
      <div class="float-right">
        <%= button_to t('.reject'), new_inscription_rejection_path(inscription), 
            method: :get, class: 'btn btn-red' if inscription.pending? %>
      </div>
  </div>

</div>